<div id="signup">
    <h2>sign up</h2>
    <form class="signup-form">
        <div class="form">
            <label for="username">username</label>
            <input type="text" id="username-signup-input">
        </div>
        <div class="form">
            <label for="password">password</label>
            <input type="password" id="password-signup-input">
        </div>
            <button type="submit">sign up</button>
        </form>
</div>

<script src="/js/signup.js"></script>